@import "variables";

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;

  .central-img-setup{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  color: $aquamarine;
  background-color: $grey;
  border: none;
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
}

.outer-image {
  display: block;
}
