$primary-background: #f0f0f0;
$white: white;
$black: black;
$grey: grey;
$lightgrey: rgb(238, 228, 228);
$green: rgb(82, 128, 15);
$lightgreen: #7ac142;
$red: red;
$aquamarine: aquamarine;
$darkgrey: rgba(0, 0, 0, 0.5);
$hover-text-background: rgba(14, 116, 53, 0.767);
$text-color-hover: whitesmoke;
